th {
    border: 3px solid black;
}
td {
  border: 3px solid black;
}
table {
  border-collapse: collapse;
  color: blue;
  margin-bottom: 15px;
}
td, th {
  padding-left: 10px;
  padding-right: 10px;
}
td a {
  color: red;
}
#testing {
  color: lime;
}
.rowheader {
  color: magenta;
}